Repository farnsworth3010/store-angular: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: categories
  src/app/modules/home/categories/categories.component.scss
Due: prettier --write

feat: featured products
  src/app/modules/home/categories/categories.component.html
  src/app/modules/home/categories/categories.component.scss
  src/app/modules/home/featured-products/featured-products.component.html
  src/app/modules/home/featured-products/featured-products.component.scss
  src/app/modules/home/featured-products/featured-products.component.ts
  src/app/modules/home/featured-products/product/product.component.html
  src/app/modules/home/featured-products/product/product.component.scss
  src/app/modules/home/featured-products/product/product.component.spec.ts
  src/app/modules/home/featured-products/product/product.component.ts
  src/assets/home/featured/mock1.jfif
  src/assets/home/featured/mock2.jfif
  src/assets/home/featured/mock3.jfif
  src/assets/home/featured/mock4.jfif
Due: eslint --fix, prettier --write

feat: second page
  src/app/core/constants/categories.ts
  src/app/core/interfaces/categories.ts
  src/app/modules/home/home.component.html
  src/app/modules/home/home.component.ts
  src/app/modules/shop/filters/filters.component.html
  src/app/modules/shop/filters/filters.component.scss
  src/app/modules/shop/filters/filters.component.spec.ts
  src/app/modules/shop/filters/filters.component.ts
  src/app/modules/shop/shop.component.html
  src/app/modules/shop/shop.component.scss
  src/app/modules/shop/shop.component.ts
  src/app/shared/header/header.component.html
  src/app/shared/header/header.component.scss
  src/app/shared/product/product.component.scss
  src/app/shared/product/product.component.ts
  src/styles.scss
Due: eslint --fix, prettier --write

fix: dep
  package-lock.json
  package.json
Due: none

fix: deps
  package-lock.json
  package.json
  src/app/app.routes.ts
  src/app/core/constants/imageFallback.ts
  src/app/core/constants/productData.ts
  src/app/core/interfaces/product.ts
  src/app/core/interfaces/review.ts
  src/app/modules/product/product.component.html
  src/app/modules/product/product.component.scss
  src/app/modules/product/product.component.spec.ts
  src/app/modules/product/product.component.ts
  src/app/shared/colors/colors.component.html
  src/app/shared/colors/colors.component.scss
  src/app/shared/colors/colors.component.spec.ts
  src/app/shared/colors/colors.component.ts
  src/app/shared/product/product.component.html
  src/app/shared/product/product.component.scss
  src/app/shared/product/product.component.ts
  src/assets/product/1.png
  src/styles.scss
Due: eslint --fix, prettier --write

fix: critical bug fix
  package.json
  src/app/core/constants/productData.ts
  src/app/modules/product/product.component.html
  src/app/modules/product/product.component.scss
  src/app/modules/product/product.component.ts
  src/app/modules/shop/shop.component.ts
  src/app/shared/product/product.component.scss
  src/styles.scss
Due: eslint --fix, prettier --write

feat: blog page && adding form
  package-lock.json
  package.json
  src/app/app.config.ts
  src/app/app.routes.ts
  src/app/core/constants/apiUrl.ts
  src/app/core/constants/navLinks.ts
  src/app/core/interfaces/blogPost.ts
  src/app/core/interfaces/featuredProduct.ts
  src/app/core/services/shop.service.spec.ts
  src/app/core/services/shop.service.ts
  src/app/modules/blog/blog.component.html
  src/app/modules/blog/blog.component.scss
  src/app/modules/blog/blog.component.spec.ts
  src/app/modules/blog/blog.component.ts
  src/app/modules/blog/new-post/new-post.component.html
  src/app/modules/blog/new-post/new-post.component.scss
  src/app/modules/blog/new-post/new-post.component.spec.ts
  src/app/modules/blog/new-post/new-post.component.ts
  src/app/modules/blog/post/post.component.html
  src/app/modules/blog/post/post.component.scss
  src/app/modules/blog/post/post.component.spec.ts
  src/app/modules/blog/post/post.component.ts
  src/app/modules/home/categories/categories.component.scss
  src/app/modules/home/featured-products/featured-products.component.ts
  src/app/modules/home/latest-products/latest-products.component.ts
  src/app/modules/shop/shop.component.html
  src/app/modules/shop/shop.component.ts
  src/app/shared/product/product.component.html
  src/app/shared/product/product.component.ts
  src/styles.scss
Due: eslint --fix, prettier --write

feat: product page working
  src/app/app.routes.ts
  src/app/core/services/shop.service.ts
  src/app/modules/product/product.component.ts
  src/app/modules/shop/shop.component.scss
  src/app/shared/product/product.component.html
  src/app/shared/product/product.component.scss
  src/app/shared/product/product.component.ts
Due: eslint --fix, prettier --write

feat: working authorization
  package-lock.json
  package.json
  src/app/app.config.ts
  src/app/core/authInit.ts
  src/app/core/constants/agreement.ts
  src/app/core/interceptors/token.interceptor.spec.ts
  src/app/core/interceptors/token.interceptor.ts
  src/app/core/interfaces/user.ts
  src/app/core/services/auth.service.ts
  src/app/core/services/shop.service.ts
  src/app/modules/account/account.component.html
  src/app/modules/account/account.component.scss
  src/app/modules/account/account.component.ts
  src/app/modules/home/home.component.html
  src/app/modules/product/product.component.ts
  src/app/modules/shop/banner/banner.component.html
  src/app/shared/header/header.component.html
  src/app/shared/header/header.component.scss
  src/app/shared/header/header.component.ts
  src/app/shared/modals/login/sign-in.component.html
  src/app/shared/modals/login/sign-in.component.scss
  src/app/shared/modals/login/sign-in.component.spec.ts
  src/app/shared/modals/login/sign-in.component.ts
  src/app/shared/modals/sign-up/sign-up.component.html
  src/app/shared/modals/sign-up/sign-up.component.scss
  src/app/shared/modals/sign-up/sign-up.component.spec.ts
  src/app/shared/modals/sign-up/sign-up.component.ts
Due: eslint --fix, prettier --write

feat: search, categories, profile page
  src/app/app.routes.ts
  src/app/core/constants/agreement.ts
  src/app/core/constants/categories.ts
  src/app/core/interfaces/categories.ts
  src/app/core/services/auth.service.ts
  src/app/core/services/shop.service.ts
  src/app/modules/account/account.component.html
  src/app/modules/account/account.component.scss
  src/app/modules/account/account.component.ts
  src/app/modules/home/categories/categories.component.html
  src/app/modules/home/categories/categories.component.scss
  src/app/modules/home/categories/categories.component.ts
  src/app/modules/home/featured-products/featured-products.component.html
  src/app/modules/home/latest-products/latest-products.component.scss
  src/app/modules/product/product.component.html
  src/app/modules/product/product.component.scss
  src/app/modules/product/product.component.ts
  src/app/modules/shop/filters/filters.component.html
  src/app/modules/shop/filters/filters.component.scss
  src/app/modules/shop/filters/filters.component.ts
  src/app/modules/shop/shop.component.html
  src/app/modules/shop/shop.component.scss
  src/app/modules/shop/shop.component.ts
  src/app/shared/header/header.component.html
  src/app/shared/header/header.component.scss
Due: eslint --fix, prettier --write

feat: prefetching user data, access control through export as
  src/app/core/authInit.ts
  src/app/core/directives/only-admins.directive.spec.ts
  src/app/core/directives/only-admins.directive.ts
  src/app/core/interfaces/user.ts
  src/app/core/services/auth.service.ts
  src/app/core/services/user.service.spec.ts
  src/app/core/services/user.service.ts
  src/app/modules/account/account.component.ts
  src/app/modules/blog/blog.component.html
  src/app/modules/blog/blog.component.scss
  src/app/modules/blog/blog.component.ts
  src/app/shared/modals/login/sign-in.component.ts
Due: eslint --fix, prettier --write

dsfdsf
  src/app/core/services/auth.service.ts
  src/app/core/services/user.service.ts
  src/app/modules/account/account.component.ts
  src/app/modules/blog/post/post.component.html
  src/app/modules/blog/post/post.component.ts
  src/app/shared/header/header.component.html
  src/app/shared/header/header.component.ts
  src/app/shared/modals/login/sign-in.component.html
  src/app/shared/modals/login/sign-in.component.scss
  src/app/shared/modals/login/sign-in.component.ts
  src/app/shared/modals/sign-up/sign-up.component.html
  src/app/shared/modals/sign-up/sign-up.component.ts
Due: eslint --fix, prettier --write

fix: sign in load icon
  src/app/shared/header/header.component.ts
  src/app/shared/modals/login/sign-in.component.ts
Due: eslint --fix

fix: sign in validation, loader bugs, profile deleteing
  src/app/core/authInit.ts
  src/app/modules/blog/blog.component.ts
  src/app/modules/shop/filters/filters.component.ts
  src/app/shared/header/header.component.ts
  src/app/shared/modals/login/sign-in.component.ts
  src/app/shared/modals/sign-up/sign-up.component.html
  src/app/shared/modals/sign-up/sign-up.component.ts
Due: eslint --fix, prettier --write

feat: remember me in sign in form
  src/app/core/services/auth.service.ts
  src/app/shared/header/header.component.ts
  src/app/shared/modals/login/sign-in.component.ts
Due: eslint --fix

fix: page structure
  src/app/app.component.html
  src/app/app.routes.ts
  src/app/modules/account/account.component.html
  src/app/modules/account/account.component.scss
  src/app/modules/admin/admin.component.html
  src/app/modules/admin/admin.component.scss
  src/app/modules/admin/admin.component.spec.ts
  src/app/modules/admin/admin.component.ts
  src/app/modules/blog/blog.component.html
  src/app/modules/blog/blog.component.scss
  src/app/modules/home/home.component.html
  src/app/modules/product/product.component.html
  src/app/modules/shop/shop.component.html
  src/app/modules/shop/shop.component.scss
  src/app/shared/header/header.component.html
  src/app/shared/header/header.component.ts
  src/styles.scss
Due: eslint --fix, prettier --write

feat: admin panel
  src/app/modules/admin/admin.component.html
  src/app/modules/admin/admin.component.scss
  src/app/modules/admin/admin.component.ts
  src/app/modules/admin/admins/admins.component.html
  src/app/modules/admin/admins/admins.component.scss
  src/app/modules/admin/admins/admins.component.spec.ts
  src/app/modules/admin/admins/admins.component.ts
  src/app/modules/admin/blog/blog.component.html
  src/app/modules/admin/blog/blog.component.scss
  src/app/modules/admin/blog/blog.component.spec.ts
  src/app/modules/admin/blog/blog.component.ts
  src/app/modules/admin/products/products.component.html
  src/app/modules/admin/products/products.component.scss
  src/app/modules/admin/products/products.component.spec.ts
  src/app/modules/admin/products/products.component.ts
  src/app/modules/admin/users/users.component.html
  src/app/modules/admin/users/users.component.scss
  src/app/modules/admin/users/users.component.spec.ts
  src/app/modules/admin/users/users.component.ts
  src/app/shared/header/header.component.html
Due: eslint --fix, prettier --write

feat: admin panels ehancements
  src/app/core/interfaces/blogPost.ts
  src/app/core/interfaces/user.ts
  src/app/core/services/panel.service.spec.ts
  src/app/core/services/panel.service.ts
  src/app/core/services/shop.service.ts
  src/app/modules/admin/admin.component.html
  src/app/modules/admin/admin.component.ts
  src/app/modules/admin/admins/admins.component.html
  src/app/modules/admin/admins/admins.component.scss
  src/app/modules/admin/admins/admins.component.ts
  src/app/modules/admin/blog/blog.component.html
  src/app/modules/admin/blog/blog.component.scss
  src/app/modules/admin/blog/blog.component.ts
  src/app/modules/admin/products/products.component.html
  src/app/modules/admin/products/products.component.scss
  src/app/modules/admin/products/products.component.ts
  src/app/modules/admin/users/users.component.html
  src/app/modules/admin/users/users.component.scss
  src/app/modules/admin/users/users.component.ts
  src/app/modules/blog/blog.component.html
  src/app/shared/header/header.component.html
  src/app/shared/header/header.component.ts
  src/app/shared/modals/login/sign-in.component.ts
Due: eslint --fix, prettier --write

feat: preloaders and product add
  src/app/core/interfaces/brand.ts
  src/app/core/interfaces/product.ts
  src/app/core/interfaces/response.ts
  src/app/core/services/shop.service.ts
  src/app/modules/admin/admin.component.html
  src/app/modules/admin/admins/admins.component.html
  src/app/modules/admin/admins/admins.component.ts
  src/app/modules/admin/blog/blog.component.html
  src/app/modules/admin/blog/blog.component.ts
  src/app/modules/admin/products/products.component.html
  src/app/modules/admin/products/products.component.scss
  src/app/modules/admin/products/products.component.ts
  src/app/modules/admin/users/users.component.html
  src/app/modules/admin/users/users.component.ts
  src/app/modules/blog/blog.component.ts
  src/app/modules/home/latest-products/latest-products.component.ts
  src/app/modules/shop/shop.component.ts
  src/app/shared/forms/new-product/new-product.component.html
  src/app/shared/forms/new-product/new-product.component.scss
  src/app/shared/forms/new-product/new-product.component.spec.ts
  src/app/shared/forms/new-product/new-product.component.ts
Due: eslint --fix, prettier --write

feat: blog editing, started adding filters
  src/app/app.component.scss
  src/app/core/services/blog/blog.service.ts
  src/app/core/services/panel/panel.service.ts
  src/app/modules/blog/blog.component.html
  src/app/modules/blog/blog.component.ts
  src/app/modules/blog/post/post.component.html
  src/app/modules/blog/post/post.component.ts
  src/app/modules/home/categories/categories.component.html
  src/app/modules/home/categories/categories.component.scss
  src/app/modules/home/home.component.html
  src/app/modules/home/home.component.scss
  src/app/modules/home/latest-products/latest-products.component.scss
  src/app/modules/panel/blog/blog.component.html
  src/app/modules/panel/blog/blog.component.ts
  src/app/modules/panel/products/products.component.html
  src/app/modules/panel/products/products.component.ts
  src/app/modules/shop/filters/filters.component.html
  src/app/modules/shop/filters/filters.component.ts
  src/app/shared/forms/edit-blog/edit-blog.component.html
  src/app/shared/forms/edit-blog/edit-blog.component.scss
  src/app/shared/forms/edit-blog/edit-blog.component.spec.ts
  src/app/shared/forms/edit-blog/edit-blog.component.ts
  src/app/shared/forms/new-product/new-product.component.ts
  src/assets/home/bg.mp4
  src/assets/home/categories/bags.jfif
  src/assets/home/categories/basses.jpg
  src/assets/home/categories/clothes.jfif
  src/assets/home/categories/dresses.jfif
  src/assets/home/categories/drums.jpg
  src/assets/home/categories/guitars.jpg
  src/assets/home/categories/hats.jfif
  src/assets/home/categories/keys.jpg
  src/assets/home/categories/shoes.jfif
  src/assets/home/categories/strings.jpg
Due: eslint --fix, prettier --write

fix: dockerfile
  Dockerfile
Due: none

fix: some fixes
  commitlint.config.js
  src/app/core/services/shop/shop.service.ts
  src/app/shared/footer/footer.component.ts
Due: eslint --fix

fix: docker
  Dockerfile
  docker-compose.yaml
Due: none

fix: api url
  src/app/core/constants/apiUrl.ts
Due: eslint --fix

fix: nginx config
  nginx.conf
Due: none

fix: container setup
  Dockerfile
  docker-compose.yaml
  nginx.conf
Due: none

fix: admin panel button if unathorized
  Dockerfile
  src/app/core/authInit.ts
  src/app/core/constants/apiUrl.ts
  src/app/core/services/auth/auth.service.ts
  src/app/shared/header/header.component.ts
Due: eslint --fix

fix: auth && routing && css && brands in panel
  src/app/app.routes.ts
  src/app/core/authInit.ts
  src/app/core/services/brands/brands.service.spec.ts
  src/app/core/services/brands/brands.service.ts
  src/app/modules/panel/brands/brands.component.html
  src/app/modules/panel/brands/brands.component.scss
  src/app/modules/panel/brands/brands.component.spec.ts
  src/app/modules/panel/brands/brands.component.ts
  src/app/modules/panel/panel.component.html
  src/app/modules/panel/panel.component.ts
  src/app/shared/forms/new-brand/new-brand.component.html
  src/app/shared/forms/new-brand/new-brand.component.scss
  src/app/shared/forms/new-brand/new-brand.component.spec.ts
  src/app/shared/forms/new-brand/new-brand.component.ts
  src/app/shared/forms/new-product/new-product.component.html
  src/app/shared/header/header.component.html
  src/app/shared/header/header.component.scss
Due: eslint --fix, prettier --write

fix: docker
  Dockerfile
  docker-compose.yaml
  nginx.conf
  src/app/core/constants/apiUrl.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{scss,html,css,less,sass}
